@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome my beloved child</h1>

<p> Today i want to share some few fundamentals with you on the analogy of life </p>
<p> Please navigate to troll and be a good troll</p>