@page "/troll"
<h3>Troll</h3>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Troll toll price @trollTollPrice</p>
            <ButtonAndImage title="Troll Toll" imageName="troll.png" buttonLabel="pay the toll" onGenericClick="DidYouPayTheTroll"></ButtonAndImage>
             @if (trollTollPaid == true)
                       {
                           <p> You have won the notion of life and have gotten the item below as a gift"</p>
                       }
                       else
                       {
                           <p>@message</p> 
                       }
        </div>
        <div class="col-md-6">
            <p>Gold Mined: @goldMined</p>

            <ButtonAndImage title=" Gold Mine" imageName="water-g3a92d397f_1920.jpg" buttonLabel="Gold" onGenericClick="IncrementCount"></ButtonAndImage>
          
        </div>
    </div>
    <div class="row">
        @if(trollTollPaid==true){
            <div class="align-content-center">
                <img src="media/1920-1200-222694.jpg" width="300" height="250" alt="">
            </div>
            trollTollPaid = false;

        }
       
    </div>
</div>

@code {
    public int trollTollPrice;
    public int goldMined;
    public bool trollTollPaid;
    public string message;

    protected override void OnInitialized()
    {
        Random rand = new Random();
        trollTollPrice = rand.Next(10, 20);
        trollTollPaid = false;
        goldMined = 0;
        message = "";
    }

    protected void IncrementCount()
    {
        goldMined++;
    }

    protected void DidYouPayTheTroll()
    {
        if (goldMined >= trollTollPrice)
        {
            trollTollPaid = true;
            goldMined -= trollTollPrice;
            message = "Troll trollTollPaid ";
        }else 
        {
            message = "Increase your gold to pay the toll";
        }
    }

}